@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-weight: bold;
}

@keyframes slidein {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes flash {
  from {
    color: initial;
  }

  50% {
    color: hsl(41, 100%, 55%);
  }

  to {
    transform: initial;
  }
}

@keyframes gacha-bounce {

  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  50% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

@keyframes appear {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}